button {
  -webkit-user-select: none;
  border: 0;
  cursor: pointer;
  outline: 0 solid transparent;
  touch-action: manipulation;
  user-select: none;
  word-break: break-word;
}

.btn {
  background: var(--seconday-color);
  border-radius: 999px;
  box-shadow: var(--seconday-color) 0 10px 20px -10px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 18px;
  width: fit-content;
}